
a.navbar-brand {
    white-space: normal;
    text-align: center;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px; /* Vertically center the text there */
}

header {
    width: 100%;
}

th, td {
    font-size: 13.5px;
}

td {
    word-break: break-all;
}

.btn-icon {
    padding: .04rem .3rem;
}

.dashboard-cards .card-action strong {
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.65);
}

.card .card-image {
    text-align: center;
    vertical-align: middle;
}

.card .card-image i {
    font-size: 55px;
    opacity: .4;
}
