<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/icons/bootstrap-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable navbar-dark bg-dark box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Employee Mgmt</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarSupportedContent" class="navbar-collapse collapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item ">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Departments" asp-action="Index">Department</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Designations" asp-action="Index">Designation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Employees" asp-action="Index">Employee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Leaves" asp-action="Index">Leave</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Salaries" asp-action="Index">Salary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Vacancies" asp-action="Index">Vacancy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Users" asp-action="Index">User</a>
                        </li>
                    </ul>
                    @*<ul class="navbar-nav">
                        <li>
                            <a class="btn btn-sm p-1 btn-warning" asp-area="" asp-controller="" asp-action="">Login</a>
                        </li>
                        <li>
                            <a class="btn btn-sm p-1 btn-warning" asp-area="" asp-controller="" asp-action="">Logout</a>
                        </li>
                    </ul>*@
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="p-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer text-muted bg-dark">
        <div class="container">
            &copy; 2021 - Employee Mgmt - <a class="text-white-50 text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
